/* Import de la police locale */
@font-face {
    font-family: 'Tektur';
    src: url('./fonts/Tektur.ttf') format('truetype');
}

/* Style de base pour le body et html */
body, html {
    background-color: #000;
    margin: 0;
    padding: 0;
    color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Tektur', sans-serif;
}

/* Style du header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Réduit la largeur du header pour un effet plus compact */
    max-width: 600px; /* Limite maximale pour éviter de trop élargir sur les écrans larges */
    padding: 10px;
    background-color: #000;
    margin: 0 auto; /* Centre le header horizontalement */
}

/* Titre au centre */
h1 {
    color: #00e4f5;
    text-align: center;
    margin: 0 10px;
    font-size: 26px
}

/* Compteur de nuit aligné à gauche */
.turn-counter {
    padding: 5px 10px;
    border-radius: 5px;
    color: #8cce35;
    background-color: #222;
    border: 2px solid #8cce35;
    font-size: 16px;
    white-space: nowrap; /* Empêche le retour à la ligne */
    display: inline-flex; /* Garde le texte et le numéro sur une seule ligne */
    align-items: center; /* Centre verticalement le contenu si besoin */
}


/* Bouton exit aligné à droite */
.exit-button img {
    width: 25px;
    height: 25px;
}
/* Style pour le bouton de sortie */
.exit-button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Description sous le header */
.header-description {
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 0 15px;
    margin-top: 10px;
    margin: 0 auto; /* Centre le header horizontalement */
    width: 100%; /* Réduit la largeur */
    max-width: 600px;
}

/* Styles conditionnels */
.status-paralyzed {
    color:#5795e6;
    display: inline-block; /* Pour s'assurer que l'animation s'applique correctement */
    text-shadow: 0 0 10px #5795e6, 0 0 20px #5795e6, 0 0 30px #5795e6;
    animation: paralysis 2s infinite; /* Animation en boucle */  
}

.status-mutated {
    color:#7e4dda;
    display: inline-block; /* Pour s'assurer que l'animation s'applique correctement */
    animation: blink 6s infinite;
    text-shadow: 0 0 20px #7e4dda, 0 0 40px #7e4dda, 0 0 60px #7e4dda;
}

.status-dead {
    color:#818181;
    display: inline-block; /* Pour s'assurer que l'animation s'applique correctement */
    text-shadow: 0 0 10px #818181, 0 0 20px #818181, 0 0 30px #818181;
}

.status-disable {
    color :#818181;
    border :#333;
    background-color: #000;
    text-decoration: line-through; /* Ajoute un effet de texte barré */
    opacity: 0.5;
    pointer-events: none;

}


#statusMessage {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    color:#fff;
    font-size: 22px;
    margin-bottom: 35px;
    width: 100%;
    background-color: #000; /* Couleur de fond pour le statut */
    padding: 10px;
    border-radius: 4px;
}

/* Style pour le message de statut */
.status-message {
    width: 100%;
    text-align: center;
    background-color: #000; /* Couleur de fond pour le statut */
    color: #fff; /* Couleur de texte */
    padding: 10px;
    font-size: 1rem;
    margin-top: 10px;
    border-radius: 4px;
}

#resultMessage {
    width: 100%;
    text-align: center;
    background-color: #000; /* Couleur de fond pour le statut */
    color: #818181; /* Couleur de texte */
    padding: 10;
    font-size: 22px;
    margin-top: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}


.action-selection {
    font-family: 'Tektur', sans-serif;
    font-size : 16px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #000;
    color: #000;
    animation: blink 6s infinite;
}

.action-button {
    font-family: 'Tektur', sans-serif;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    margin-bottom: 30px;
    
    
}

/* Couleurs spécifiques pour chaque bouton */
.info {
    border: 5px solid #e27e2c; /* Jaune pour l'informaticien */
    box-shadow: 0 0 15px #e27e2c, 0 0 30px #e27e2c, 0 0 45px #e27e2c
}

.psy {
    border: 5px solid #4350ff; /* Bleu foncé pour le psychologue */
    box-shadow: 0 0 15px #4350ff, 0 0 30px #4350ff, 0 0 45px #4350ff
}

.gene {
    border: 5px solid #008120; /* Vert foncé pour le généticien */
    box-shadow: 0 0 15px #008120, 0 0 30px #008120, 0 0 45px #008120
}

/* Styles appliqués lors de la sélection d'un bouton */
.selected {
    font-family: 'Tektur', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #8cce35;
    animation: blink 6s infinite;
    color: #000; 
}

/* Effet d'agrandissement au survol */
.action-button:hover {
    transform: scale(1.05);
    background-color: #8cce35;
    color: #000;
}

@keyframes blink {
    0%,35%, 85%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0.8;
    }
}


@keyframes paralysis {
    0% { transform: translateX(0);
        opacity: 1; }
    5% { transform: translateX(3px);
        opacity: 0.6; }
    10% { transform: translateX(-2px);
        opacity: 1; }
    15% { transform: translateX(1px);
        opacity: 0.6; }
    20% { transform: translateX(0); 
        opacity: 0.6;}
    25% { transform: translateX(3px);
        opacity: 0.6; }
    30% { transform: translateX(-2px);
        opacity: 0.6; }
    35% { transform: translateX(1px);
        opacity: 0.6; }
    40% { transform: translateX(0);
        opacity: 0.6; }
    100% { transform: translateX(0);
        opacity: 0.6; }
}

/* Conteneur pour les boutons d'action */
.action-buttons {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%; /* Réduit la largeur pour un look plus serré */
    max-width: 600px;
    padding: 10px 0;
}

/* Style pour le bouton "Le mutant mutue" */
.start-button {
    align-items: center;
    background-color: #8cce35;
    color: #000;
    border: 2px solid transparent;
    padding: 12px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s, transform 0.3s;
    animation: blink 6s infinite;
    box-shadow: 0 0 15px #8cce35, 0 0 30px #8cce35, 0 0 45px #8cce35;
    font-family: 'Tektur', sans-serif;
    width: 100%; /* Réduit la largeur pour s'ajuster aux petits espaces */
}

/* Effet au survol pour "Le mutant va paralyser" */
.start-button:hover {
    transform: scale(1.1);
}


/* Media Query pour les petits écrans */
@media (max-width: 600px) {
    .header-container, .header-description, .button-container, .action-buttons {
        width: 90%; /* Utilise plus de largeur sur les petits écrans */
        max-width: none; /* Supprime la limitation de largeur */
    }

    h1 {
        font-size: 16px;
    }

    .turn-counter, .random-button, .start-button {
        font-size: 14px;
    }

    .player-button {
        font-size: 14px;
        padding: 8px;
    }

    .action-buttons {
        flex-direction: column; /* Disposition verticale sur les petits écrans */
        align-items: center; /* Centre les boutons */
    }

    .random-button, .start-button {
        width: 80%; /* Utilise plus de largeur sur les petits écrans */
        margin-bottom: 10px;
    }
}
