/* Déclarer la police Tektur à partir du fichier local */
@font-face {
    font-family: 'Tektur';
    src: url('./fonts/Tektur.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Style de base pour le body et html */
body, html {
    background-color: #000;
    margin: 8px;
    padding: 0;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Tektur', sans-serif; /* Appliquer Tektur à toute l'application */
}

/* Style spécifique à la page index */
.index-page {
    background-color: #000; /* Fond noir */
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 100vh; /* Occupe toute la hauteur de la fenêtre */
    
}

/* Conteneur pour aligner les éléments verticalement */
.intro-container {
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
}

/* Image au milieu */
.intro-image {
    max-width: 130%; /* Ajuster la largeur de l'image */
    max-height: 240vh; /* Ajuster la hauteur de l'image */
    margin-bottom: 15px; /* Espacement par rapport au bouton */
    border-radius: 10px;
}


/* Bouton pour lancer le jeu */
.start-button {
    background-color: #8cce35; /* Fond du bouton */
    color: #000;
    border: 2px solid transparent; /* Pour l'animation du bord lumineux */
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s, transform 0.3s;
    animation: blink 6s infinite; /* Ajout de l'animation de clignotement plus lent */
    box-shadow: 0 0 15px #8cce35, 0 0 30px #8cce35, 0 0 45px #8cce35; /* Bord lumineux */
    font-family: 'Tektur', sans-serif; /* Police Tektur pour le bouton */
}

/* Effet au survol */
.start-button:hover {
    transform: scale(1.1);
}

/* Animation de clignotement */
@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0.5;
    }
} 


/* PAGE equipe */

/* Conteneur principal */
.container {
    text-align: center;
    color: #fff;
    position: sticky;
}
/* Assurez-vous que les titres sont bien visibles */
h1 {
    color: #8cce35; /* Ajustez la couleur si nécessaire pour qu'elle ressorte sur le fond */
    font-size: 30px; /* Assurez-vous que la taille est visible */
    position: sticky;
    margin: 20px 0; /* Ajoutez du marges pour dégager le titre */
    text-align: center; /* Centrez le texte si besoin */
    padding-top: 60px; /* Ajoute de l'espace au-dessus du titre */
}
/* Formulaire pour ajouter un joueur */
.form-container {
    margin-bottom: 25px;
    position: sticky;
}

/* Champ de saisie du prénom avec hauteur augmentée */
#playerName {
    height: 25px; /* Augmente la hauteur du champ de saisie */
    width: 52%; /* Augmente la largeur du champ de saisie à 80% du conteneur */
    padding: 10px; /* Ajoute du rembourrage pour le confort */
    border: 2px solid #8cce35;
    border-radius: 5px;
    font-size: 16px; /* Taille de police confortable */
}

/* Liste des joueurs */
.player-list {
    max-height: 750px; /* Ajuster selon le besoin */
    overflow-y: auto;
    list-style: none;
    padding: 0;
    gap: 15px;
}

/* Espace vertical pour les boutons sur la page "équipe" */
.equip-page .button {
    margin-bottom: 22px; /* Ajoutez plus d'espace en dessous des boutons */
}

/* Élément de la liste de joueurs */
.player-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 15px;
    margin: 20px 0; /* Ajustez les marges pour créer un espace vertical plus visible */
    border: 1px solid #8cce35;
    border-radius: 5px;
    background-color: #000;
    color: #8cce35;
    box-shadow: 0 0 10px #8cce35, 0 0 20px #8cce35;
}

/* Style du bouton d'ajout */
#addPlayerButton {
    font-size: 16px;
    background-color: #8cce35;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    font-family: 'Tektur', sans-serif; /* Police Audiowide pour le bouton */
    margin-left: 25px;
}

/* Effet au survol du bouton d'ajout */
#addPlayerButton:hover {
    background-color: #7bbd2b; /* Variation plus foncée */
    transform: scale(1.05);
}

/* Style de la corbeille */
.delete-icon {
    color: #ff0000; /* Rouge pour l'icône de suppression */
    cursor: pointer;
    transition: color 0.3s;
}

/* Effet au survol de l'icône de suppression */
.delete-icon:hover {
    color: #cc0000; /* Variation plus foncée du rouge */
}

/* Compteur de joueurs */
.counter {
    margin-top: 20px;
    color: #fff;
}

/* Style du bouton Briefing */
.briefing-button {
    background-color: #8cce35;
    font-family: 'Tektur', sans-serif; /* Police Audiowide pour le bouton */
    color: #000;
    border: none;
    padding: 15px 30px; /* Plus grand rembourrage pour le bouton */
    font-size: 26px; /* Grande taille de police */
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    margin-top: 30px; /* Espace au-dessus du bouton */
    animation: blink 6s infinite; /* Ajout de l'animation de clignotement plus lent */
    box-shadow: 0 0 15px #8cce35, 0 0 30px #8cce35, 0 0 45px #8cce35; /* Bord lumineux */
}

/* Effet au survol du bouton Briefing */
.briefing-button:hover {
    background-color: #7bbd2b; /* Variation plus foncée */
    transform: scale(1.05);
}
/* Page Brifing */

/* Style de la page Briefing */
.briefing-page {
    background-color: #000; /* Fond noir */
    color: #fff; /* Texte blanc par défaut */
    font-family: 'Tektur', sans-serif; /* Appliquer la police Tektur */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Style du bouton "Play" */
.play-button {
    position: sticky;
    background-color: transparent; /* Fond transparent */
    border: none; /* Pas de bordure */
    font-size: 24px; /* Taille de l'icône */
    color: #8cce35; /* Couleur verte */
    cursor: pointer; /* Curseur pointer */
    outline: none; /* Supprime les contours */
    margin-right: 20px; /* Espacement à droite */
    transition: transform 0.3s;
    display: flex; /* Aligner au centre verticalement */
    align-items: center;
}

/* Effet au survol du bouton */
.play-button:hover {
    transform: scale(1.2); /* Légère augmentation de la taille au survol */
}

/* Header et positionnement du cadre "Jour" */
header {
    width: 100%;
    display:flex;
    justify-content:stretch; /* Pour écarter les éléments */
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

/* Cadre pour le "Jour" */
.turn-box {
    position: sticky;
    background-color: #222; /* Fond gris sombre */
    color: #8cce35; /* Texte vert clair */
    padding: 5px 15px;
    border: 2px solid #8cce35; /* Bord vert */
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    max-width: 150px; /* Limite la largeur */
    white-space: nowrap; /* Évite que le texte ne s'étire */
    overflow: hidden; /* Empêche le débordement du texte */
}

/* Titre en vert */
.title {
    color: #8cce35; /* Vert clair */
    font-size: 36px;
    text-align: center;
    flex: 1; /* Prend l'espace restant entre le cadre "Jour" et le bord droit */
}

/* Texte d'introduction */
.intro-text {
    max-width: 800px;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Style pour le bouton "Élection de votre leader" */
.leader-button {
    background-color: #8cce35; /* Fond du bouton */
    color: #000;
    border: 2px solid transparent; /* Pour l'animation du bord lumineux */
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s, transform 0.3s;
    animation: blink 6s infinite; /* Ajout de l'animation de clignotement plus lent */
    box-shadow: 0 0 15px #8cce35, 0 0 30px #8cce35, 0 0 45px #8cce35; /* Bord lumineux */
    font-family: 'Tektur', sans-serif; /* Police Tektur pour le bouton */
    display: block; /* Pour que le bouton prenne tout l'espace disponible en largeur */
    margin: 20px auto; /* Centrer le bouton horizontalement */
}

/* Effet au survol */
.leader-button:hover {
    transform: scale(1.1);
}

/* Animation de clignotement */
@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0.5;
    }
}


/* Page leader */

/* Corps de la page centré */
body {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Couleur de fond de l'application */
    color: #fff;
    font-family: 'Tektur', sans-serif;
    min-height: 100vh;
    margin: 0;
}

/* Style pour le header */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000; /* Même couleur que le fond de l'application */
    padding: 10px 40px; /* Augmenté le padding pour espacer l'icône de sortie */
    box-sizing: border-box;
}

/* Style pour le compteur jour */
.turn-counter {
    padding: 5px 10px;
    border-radius: 5px;
    color: #8cce35;
    background-color: #222; /* Fond gris sombre */
    padding: 5px 15px;
    border: 2px solid #8cce35; /* Bord vert */
    border-radius: 5px;
    font-size: 18px;
    margin-right: 20px; /* Écarté du titre */
}

/* Titre de la page */
.leader-title {
    font-size: 24px;
    color: #8cce35;
    text-align: center;
    flex-grow: 1;
}

/* Style pour le bouton de sortie */
.exit-button {
    background: none;
    border: none;
    cursor: pointer;
}

.exit-icon {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

/* Conteneur des boutons de joueurs en 2 colonnes */
.leader-player-buttons-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
}

.leader-player-list {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colonnes */
}

/* Style pour les boutons des joueurs */
.player-item {
    font-family: 'Tektur', sans-serif; /* Police Tektur pour le bouton */
    background-color: #333;
    color: #fff;
    padding: 15px;
    border: 1px solid #8cce35;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    transition: background 0.3s;
    white-space: nowrap; /* Empêche les retours à la ligne dans les boutons */
    margin: 15px;
    display: flex;
    justify-content: center; /* Centre le texte */
    align-items: center;
}

.player-item:hover {
    background-color: #8cce35;
    color: #000;
}

/* Style pour le bouton "Valider et démarrer la nuit" */
.validate-button {
    background-color: #8cce35; /* Fond du bouton */
    color: #000;
    border: 2px solid transparent; /* Pour l'animation du bord lumineux */
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
    transition: background 0.3s, transform 0.3s;
    animation: blink 6s infinite; /* Ajout de l'animation de clignotement plus lent */
    box-shadow: 0 0 15px #8cce35, 0 0 30px #8cce35, 0 0 45px #8cce35; /* Bord lumineux */
    font-family: 'Tektur', sans-serif; /* Police Tektur pour le bouton */
    display: block; /* Pour que le bouton prenne tout l'espace disponible en largeur */
    margin: 0 auto; /* Centrer le bouton horizontalement */
}

/* Effet au survol */
.validate-button:hover {
    transform: scale(1.1);
}

/* Animation de clignotement */
@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0.5;
    }
}

